*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/av_imagen.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;

}

.contenedor__modificable{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}


.contenedor__modificable div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.contenedor__modificable div p,
    .contenedor__modificable div button {
         margin-top: 30px;
}


.contenedor__modificable button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.contenedor__modificable button:hover{
    background: transparent;
    color: #46a2fd;
}


.contenedor__modificable form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor__modificable h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46a2fd;
}

.contenedor__modificable form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__modificable form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46a2fd;
    color: white;
    cursor: pointer;
    outline: none;
}


.formulario__modificable{ 
    opacity: 1;
    display: block;
}


@media screen and (max-width:850px) {
    main{
        margin-top: 50px;
    }
    .contenedor__modificable{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .contenedor__modificable div{
        margin: 0px;
        position: absolute;
    }
    /*Formulario*/
    .contenedor__modificable{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__modificable form{
        position: relative;
    }
}
